<header class="navbar navbar-expand-lg bg-white" data-bs-theme="light">
  <div class="container-fluid">
    <a class="navbar-brand fw-bolder" href="/">{{ title }}</a>
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarSupportedContent">
      <ul class="navbar-nav me-auto mb-2 mb-lg-0">
        <li class="nav-item">
          <a class="nav-link" routerLink="/home" routerLinkActive="active">Home</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" routerLink="/modules" routerLinkActive="active">Modules</a>
        </li>
        <li class="nav-item dropdown">
          <a class="nav-link dropdown-toggle" routerLink="/forms" routerLinkActive="active" role="button" data-bs-toggle="dropdown" aria-expanded="false">
            Forms
          </a>
          <ul class="dropdown-menu">
            <li><a class="dropdown-item" routerLink="/forms/tf" routerLinkActive="active" [routerLinkActiveOptions]="{exact:true}">Template Driven</a></li>
            <li><a class="dropdown-item" routerLink="/forms/rf" routerLinkActive="active" [routerLinkActiveOptions]="{exact:true}">Reactive</a></li>
            <li><hr class="dropdown-divider"></li>
            <li><a class="dropdown-item" routerLink="/forms/df" routerLinkActive="active" [routerLinkActiveOptions]="{exact:true}">Dynamic</a></li>
            <li><a class="dropdown-item" routerLink="/forms/yf" routerLinkActive="active" [routerLinkActiveOptions]="{exact:true}">Typed</a></li>
          </ul>
        </li>
        <li class="nav-item">
          <a class="nav-link" routerLink="/stocks" routerLinkActive="active">Stocks</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" routerLink="/users" routerLinkActive="active">Users</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" routerLink="/signals" routerLinkActive="active">Signals</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" routerLink="/posts/category/all" routerLinkActive="active">Blog</a>
        </li>
        <li class="nav-item">
          <a class="nav-link disabled" aria-disabled="true">Dashboard</a>
        </li>
      </ul>
      @if(isSearch){
      <form class="d-flex" role="search">
        <input class="form-control me-2" type="search" placeholder="Search" aria-label="Search"/>
        <button class="btn btn-dark" type="submit">Search</button>
      </form>
      } @else{
        <!-- @defer (hydrate on timer(3s)) -->
        @defer (on timer(5s)) {
          <span class="navbar-text">
            <abbr title="Proof of Concepts">PoC</abbr> of {{ title }}🎉
          </span>
        } @placeholder {
          <samp>Loading...</samp>
        }
      }
    </div>
  </div>
</header>